<p style="color: green"><%= notice %></p>

<div class="jumbotron">
  # <h1 class="display-4"><%= @parking_slot.parking_type %></h1>
  # <p class="lead"><%= @parking_slot.status %></p>
  # <%= link_to "Edit this parking lot", edit_parking_lot_path(@parking_lot), class: 'btn btn-secondary' %>
  # <%= link_to "Back to parking lots", new_parking_lots_path, class: 'btn btn-secondary' %>
</div>
