<div class = 'row form-group'>
  <div class = 'col-lg-2'>
    Entry Point:
  </div>

  <div class = 'col-lg-4'>
    <%= select_tag :entry_point, options_for_select(@entry_points), :class => 'form-control js-entry-point' %>
  </div>
</div>

<div class = 'row form-group'>
  <div class = 'col-lg-2'>
    Vehicle Type:
  </div>

  <div class = 'col-lg-4'>
    <%= select_tag :vehicle_type, options_for_select(Vehicle.vehicle_types.map {|key, val| [key.humanize.capitalize, key]}), :class => 'form-control js-vehicle-type' %>
  </div>
</div>


<div class = 'row form-group'>
  <div class = 'col-lg-2'>
    Plate Number:
  </div>

  <div class = 'col-lg-4'>
    <%= text_field_tag :plate_number, '', :placeholder => 'Plate Number', :class => 'form-control js-plate-number' %>
  </div>
</div>

<div class = 'row form-group'>
  <div class = 'col-lg-2'>
    Current Time:
  </div>

  <div class = 'col-lg-1'>
    <%= check_box_tag :current_time, '', true, :class => 'js-current-time' %>
  </div>
</div>

<div class = 'row form-group'>
  <div class = 'col-lg-2'>
    Time:
  </div>

  <div class = 'col-lg-6 js-manual-time'>
    <%= datetime_select :time, '', ampm: true, :class => 'form-control' %>
  </div>

</div>




<div class = 'field form-group'>
  <%= button_tag 'Park', :class => 'btn btn-secondary js-btn-park' %>

  <%= button_tag 'Unpark', :class => 'btn btn-secondary js-btn-unpark' %>
</div>
